<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">{{ title }}</span>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCake">
    Add cake
  </button>

  <div class="modal fade" id="addCake" tabindex="-1" aria-labelledby="addCakeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCakeLabel">Add a cake</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="cakeTitle">Title of cake</label>
            <input #cakeTitle type="text" class="form-control" id="cakeTitle">
          </div>

          <div class="form-group">
            <label for="description">Description of cake</label>
            <input #description type="text" class="form-control" id="description">
          </div>

          <div class="form-group">
            <label for="image">Image URL</label>
            <input #image type="text" class="form-control" id="image">
          </div>

          <button data-dismiss="modal" (click)="addCake(cakeTitle.value, description.value, image.value); cakeTitle.value = ''; description.value = ''; image.value = ''; " class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div *ngFor="let cake of cakes" class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{cake.image}}" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{cake.title}}</h5>
          <p class="card-text">{{cake.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
